<%= form_for(@asistente) do |f| %>
  <% if @asistente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asistente.errors.count, "error") %> prohibited this asistente from being saved:</h2>

      <ul>
      <% @asistente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :observacion %><br>
    <%= f.text_field :observacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
