<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @departamento.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @departamento.nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @departamento.descripcion %>
</p>

<%= link_to 'Editar', edit_departamento_path(@departamento) %> |
<%= link_to 'Atrás', departamentos_path %>
