<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @profesore.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @profesore.apellido %>
</p>

<p>
  <strong>Observación:</strong>
  <%= @profesore.observacion %>
</p>

<%= link_to 'Editar', edit_profesore_path(@profesore) %> |
<%= link_to 'Atrás', profesores_path %>
