<%= form_for(@curso) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Modalidad %><br>
    <%= f.collection_select :modalidad_id, Modalidade.all, :id, :nombre %><br />

  </div>
  <div class="field">
    <%= f.label :Código %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Curso"%>
  </div>
<% end %>
<%= link_to 'Inicio', root_path %>
