<p id="notice"><%= notice %></p>

<p>
  <strong>Modalidad:</strong>
  <%= Modalidade.find(@curso.modalidad_id).nombre %>
</p>

<p>
  <strong>Código:</strong>
  <%= @curso.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @curso.nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @curso.descripcion %>
</p>

<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Atrás', cursos_path %>
