<p id="notice"><%= notice %></p>

<p>
  <strong>Modalidad:</strong>
  <%= @curso.modalidad_id %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @curso.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @curso.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @curso.descripcion %>
</p>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
