<p id="notice"><%= notice %></p>

<h1>Lista de Grupos</h1>

<table>
  <thead>
    <tr>
      <th>Curso</th>
      <th>Profesor</th>
      <th>Sede</th>
      <th>Asistente</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= Curso.find(grupo.curso_id).nombre %></td>
        <td><%= Profesore.find(grupo.profesor_id).nombre %></td>
        <td><%= Sede.find(grupo.sede_id).nombre %></td>
        <td><%= Asistente.find(grupo.asistente_id).nombre %></td>
        <td><%= grupo.descripcion %></td>
        <td><%= link_to 'Mostrar', grupo %></td>
        <td><%= link_to 'Editar', edit_grupo_path(grupo) %></td>
        <td><%= link_to 'Eliminar', grupo, method: :delete, data: { confirm: 'Está seguro que desea eliminar el grupo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Grupo', new_grupo_path %>
<%= link_to 'Inicio', root_path %>
