<p id="notice"><%= notice %></p>

<p>
  <strong>Curso:</strong>
  <%= Curso.find(@grupo.curso_id).nombre %>
</p>

<p>
  <strong>Profesor:</strong>
  <%= Profesore.find(@grupo.profesor_id).nombre %>
</p>

<p>
  <strong>Sede:</strong>
  <%= Sede.find(@grupo.sede_id).nombre %>
</p>

<p>
  <strong>Asistente:</strong>
  <%= Asistente.find(@grupo.asistente_id).nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @grupo.descripcion %>
</p>

<%= link_to 'Editar', edit_grupo_path(@grupo) %> |
<%= link_to 'Atrás', grupos_path %>
