<p id="notice"><%= notice %></p>

<h1>Lista de Notas</h1>

<table>
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Estudiante</th>
      <th>Nota</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nota.each do |nota| %>
      <tr>
        <td><%= Grupo.find(nota.grupo_id).descripcion %></td>
        <td><%= Estudiante.find(nota.estudiante_id).nombre %></td>
        <td><%= nota.nota %></td>
        <td><%= nota.descripcion %></td>
        <td><%= link_to 'Mostrar', nota %></td>
        <td><%= link_to 'Editar', edit_notum_path(nota) %></td>
        <td><%= link_to 'Eliminar', nota, method: :delete, data: { confirm: 'Está seguro que desea eliminar la nota?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Nota', new_notum_path %>
<%= link_to 'Inicio', root_path %>
