<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo:</strong>
  <%= Grupo.find(@notum.grupo_id).descripcion %>
</p>

<p>
  <strong>Estudiante:</strong>
  <%= Estudiante.find(@notum.estudiante_id).nombre %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @notum.nota %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @notum.descripcion %>
</p>

<%= link_to 'Editar', edit_notum_path(@notum) %> |
<%= link_to 'Atrás', nota_path %>
