<p id="notice"><%= notice %></p>

<h1>Lista de Modalidades</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modalidades.each do |modalidade| %>
      <tr>
        <td><%= modalidade.nombre %></td>
        <td><%= modalidade.codigo %></td>
        <td><%= modalidade.descripcion %></td>
        <td><%= link_to 'Mostrar', modalidade %></td>
        <td><%= link_to 'Editar', edit_modalidade_path(modalidade) %></td>
        <td><%= link_to 'Eliminar', modalidade, method: :delete, data: { confirm: 'Está seguro que desea eliminar la modalidad?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva modalidad', new_modalidade_path %>
<%= link_to 'Inicio', root_path %>
