<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @modalidade.nombre %>
</p>

<p>
  <strong>Código:</strong>
  <%= @modalidade.codigo %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @modalidade.descripcion %>
</p>

<%= link_to 'Editar', edit_modalidade_path(@modalidade) %> |
<%= link_to 'Atrás', modalidades_path %>
