<p id="notice"><%= notice %></p>

<h1>Lista de Sedes</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sedes.each do |sede| %>
      <tr>
        <td><%= sede.codigo %></td>
        <td><%= sede.nombre %></td>
        <td><%= sede.descripcion %></td>
        <td><%= link_to 'Mostrar', sede %></td>
        <td><%= link_to 'Editar', edit_sede_path(sede) %></td>
        <td><%= link_to 'Eliminar', sede, method: :delete, data: { confirm: 'Está seguro que desea eliminar la sede?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Sede', new_sede_path %>
<%= link_to 'Inicio', root_path %>
