<h1>Bienvenido a la aplicación del TEC Digital</h1>
<h2>Sección de administración</h2>
<p>¿Qué acción de administración desea realizar?</p>
<%= link_to 'Administrar Profesores', profesores_path %> 
<%= link_to 'Administrar Estudiantes', estudiantes_path %> 
<%= link_to 'Administrar Departamentos', departamentos_path %>
<%= link_to 'Administrar Sedes', sedes_path %> 
<%= link_to 'Administrar Grupos', grupos_path %> 
<%= link_to 'Administrar Modalidades', modalidades_path %>
<%= link_to 'Administrar Asistentes', asistentes_path %>
<%= link_to 'Administrar Cursos', cursos_path %>
<%= link_to 'Administrar Notas', nota_path %>

